<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#000000">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>GPBP-PISA Vietnam</title>

  <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>


  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <script> 
    $(function(){
      var folder_name = "{{folder_name|safe}}";
      $("#includeContent").load(folder_name); 
    });
  </script>

  <style type="text/css">
    body {
      padding-top: 90px;  /* Adjust this value depending on the actual height of your navbar */
  }
  </style>

</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-icon-container">
          <a href="#" class="navbar-icon pull-right visible-xs" id="nav-btn"><i class="fa fa-bars fa-lg white"></i></a>
          <a href="#" class="navbar-icon pull-right visible-xs" id="sidebar-toggle-btn"><i class="fa fa-search fa-lg white"></i></a>
        </div>
        <a class="navbar-brand" href="#">PISA-Vietnam</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/"><i class="fa fa-bar-chart"></i>&nbsp;&nbsp;Dashboard</a></li> 
          <li class="dropdown">
            <a id="toolsDrop" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe white"></i>&nbsp;&nbsp;Tools <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/explore"><i class="fa fa-bar-chart"></i>&nbsp;&nbsp;Explore Data</a></li>  
              <li class="divider hidden-xs"></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" id="downloadDrop" href="#" role="button" data-toggle="dropdown"><i class="fa fa-cloud-download white"></i>&nbsp;&nbsp;Download Data<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="../static/data/stroke_facs_latest.csv" download="stroke_facs_latest.csv" target="_blank" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-download"></i>&nbsp;&nbsp;Stroke Facility Locations</a></li>
              <li class="divider hidden-xs"></li>
            </ul>
          </li>
        </ul>
      </div><!--/.navbar-collapse -->
    </div>
  </div>

  <div class="container mt-5">
      <h4>This implementation of Public Infrastructure Service Access tool uses a data stack consisting of high-resolution gridded population estimates by WorldPop and Meta Data for Good Population, existing stroke care centers - a dataset curated by the World Bank team, and MapBox's travel time API to analyse current accessibility of population to stroke care within the golden hour of stroke which is 60-mins.</h4>

      <h5>Below you can explore the different datasets used in this analysis</h5>

      <!-- Tab navigation -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
              <a class="nav-link active" id="worldpop-tab" data-toggle="tab" href="#worldpop" role="tab" aria-controls="worldpop" aria-selected="true">WorldPop Population</a>
          </li>
          <li class="nav-item" role="presentation">
              <a class="nav-link" id="facebook-tab" data-toggle="tab" href="#facebook" role="tab" aria-controls="facebook" aria-selected="false">Facebook Population</a>
          </li>
          <li class="nav-item" role="presentation">
              <a class="nav-link" id="accessibility-tab" data-toggle="tab" href="#accessibility" role="tab" aria-controls="accessibility" aria-selected="false">Current Accessibility</a>
          </li>
      </ul>

      <!-- Tab content -->
      <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade active" id="worldpop" role="tabpanel" aria-labelledby="worldpop-tab">
              <h4>WorldPop Population</h4>
              <p>The spatial distribution of population in 2020 with country total adjusted to match the corresponding UNDP estimate. The dataset is available to download in Geotiff and ASCII XYZ format at a resolution of 30 arc (approximately 1 km at the equator).</p>
              <h2>Vietnam (2020): 96.71 million</h2>
              <iframe src="../static/data/worldpop.html" width="200%" height="600px" frameborder="0"></iframe>
          </div>
          <div class="tab-pane fade" id="facebook" role="tabpanel" aria-labelledby="facebook-tab">
              <h4>Meta Data for Good High-Resolution Population</h4>
              <p>A high-resolution (100m) population density map of the world, created by Meta’s Data for Good Program using satellite imagery and ground surveys (2020)</p>
              <h2>Vietnam (2020): 97.29 million</h2>
              <iframe src="../static/data/metapop.html" width="200%" height="600px" frameborder="0"></iframe>
          </div>
         <div class="tab-pane fade" id="accessibility" role="tabpanel" aria-labelledby="accessibility-tab">
              <h4>Current Accessibility Data</h4>
              <table class="table">
                  <thead>
                      <tr>
                          <th>Population</th>
                          <th>Transport</th>
                          <th>Facility Location</th>
                          <th colspan="2">Percentage of population with access</th> <!-- This header spans two columns -->
                      </tr>
                      <tr>
                          <th></th> <!-- Empty cell to adjust for the 3 single headers above -->
                          <th></th>
                          <th></th>
                          <th>30 mins travel time</th>
                          <th>60 mins travel time</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>WorldPop</td>
                          <td>MapBox Isochrone API</td>
                          <td>Stroke Care Facilities in Vietnam (World Bank)</td>
                          <td>40</td>
                          <td>68</td>
                      </tr>
                      <tr>
                          <td>Facebook</td>
                          <td>MapBox Isochrone API</td>
                          <td>Stroke Care Facilities in Vietnam (World Bank)</td>
                          <td>41</td>
                          <td>70</td>
                      </tr>
                  </tbody>
              </table>
          </div>


      </div>
  </div>

  <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Welcome to the GPBP-Public Infrastructure Public Access Platform!</h4>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs nav-justified" id="aboutTabs">
            <li class="active"><a href="#about" data-toggle="tab"><i class="fa fa-question-circle"></i>&nbsp;About the project</a></li>
            <li><a href="#contact" data-toggle="tab"><i class="fa fa-envelope"></i>&nbsp;Contact us</a></li>
            <li><a href="#disclaimer" data-toggle="tab"><i class="fa fa-exclamation-circle"></i>&nbsp;Disclaimer</a></li>
          </ul>
          <div class="tab-content" id="aboutTabsContent">
            <div class="tab-pane fade active in" id="about">
              <p>This interactive site allow users to examine key spatial layers related to facility location, road network consolidations, population distribution, administrative boundaries, and risk layers (e.g., flooding), and satellite imagery.</p>
              <div class="panel panel-primary">
                <div class="panel-heading">Features</div>
                <ul class="list-group">
                  <li class="list-group-item">Fullscreen mobile-friendly map template with responsive navbar and modal placeholders</li>
                </ul>
              </div>
            </div>
            <div id="disclaimer" class="tab-pane fade text-danger">
              <p>The data provided on this site is for informational and planning purposes only.</p>
              <p>All information on this map is subject to such variations and corrections as might result from a complete title search and/or accurate field survey.</p>
            </div>
            <div class="tab-pane fade" id="contact">
              <form id="contact-form">
                <div class="well well-sm">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="first-name">First Name:</label>
                        <input type="text" class="form-control" id="first-name">
                      </div>
                      <div class="form-group">
                        <label for="last-name">Last Name:</label>
                        <input type="text" class="form-control" id="last-email">
                      </div>
                      <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" id="email">
                      </div>
                    </div>
                    <div class="col-md-8">
                      <label for="message">Message:</label>
                      <textarea class="form-control" rows="8" id="message"></textarea>
                    </div>
                    <div class="col-md-12">
                      <p>
                        <button type="submit" class="btn btn-primary pull-right" data-dismiss="modal">Submit</button>
                      </p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script type="text/javascript">
    $(document).ready(function() {
      var folder_name = '{{folder_name | safe}}';
      if(folder_name!=9999){
        document.getElementById('myDIV').style.visibility = 'visible';
        document.getElementById('myDIV1').style.visibility = 'visible';
        var el = document.getElementById('model_sel_form_map');
        el.value = '{{model_selected|safe}}';
      }

      var selected_dist = '{{selected_dist | safe}}';
      var selected_hosp_count = '{{selected_hosp_count | safe}}';

      if(selected_dist!=9999){
        document.getElementById('myDIV2').style.visibility = 'visible';
        document.getElementById("radio_{{selected_dist}}").checked = true;
        document.getElementById("sel1").value = selected_hosp_count;
        
        var folder_name_map = "{{file_map_save|safe}}"
        $("#map_view").load(folder_name_map); 
      }

    });
  </script>

</body>
</html>